<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artworks by Artists</title>
  <link rel="stylesheet" href="../static/artists.css">
  <script src="../static/artists.js" defer></script>
</head>
<body>
  <div id="sidebar">
    <h2>Artists</h2>
    <div id="artistLinks">
      <!-- Artist links will be displayed here -->
    </div>
  </div>
  <div id="artworksContainer">
    <!-- Artworks will be displayed here -->
  </div>
  <button class="navButton left" id="prevButton">&lt;</button>
  <button class="navButton right" id="nextButton">&gt;</button>

</body>
</html>