<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artworks by Various Artists</title>
  <link rel="stylesheet" href="../static/index.css">
  <script src="../static/index.js" defer></script>
</head>
<body>
  <h1>Artworks by Various Artists</h1>

  <div id="container">
    <div id="artistListContainer">
      <div id="artistList"></div>
    </div>
    <div id="artworkContainer">
      <div class="arrow left" id="leftArrow" onclick="navigateArtwork(-1)">&#10094;</div>
      <div id="artworkDisplay"></div>
      <div class="arrow right" id="rightArrow" onclick="navigateArtwork(1)">&#10095;</div>
    </div>
  </div>
</body>
</html>